body
{
	margin: 0px;
	padding: 0px;
	background-color: #fd8f02;
	imgagem:src="logo2.png"
}
header 

{
	background-color:#ff7f00;
	height: 100px;
	margin-right:  -10px;
	margin-left: -10px;
	font-family: "Tahoma";
	border-top: 2px solid #0066cc;
}
h1
{
	text-align: left;
	padding-left: 350px;
}
.img-logo
{
		
}
.menu
{
	margin-top: 30px;
	float: right;
	border: 5px solid #000;
	background-color: #060606;

}
a
{
	float: left;
	border-right: 1px solid #00dbf0;
	padding: 0px 15px;
	color: #fff;
	text-decoration: none;

}
a:hover
{
	background-color: #2b2a2a;
}
.carousel
{
	height:650px;
	width:100%;
	background-image:url(img-fundo2.png);
	background-repeat:no-repeat;
	padding-top: 40px;
	position: solid center;
	
}
.cell
{
	
	background-image:url(img-cell.png);
	width: 270px;
	height: 1800px;
	float: left;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
p
{
	margin-top:250px;
	text-align:center;
	color:#fff;
	font: 22px "verdana";
	background-color: F18206;
	opacity: 0.90;
	width: 1200px;
	float: right;
}
.details
{
	width: 85%;	
	padding-left: 10%;
}
.intro
{

	height: 30px;
	text-align: center;
	background-color: #007ca9;
	border: solid #8ec1da 1px;
}
.begin
{
	height: 300px;
	text-align: center;
	background-color: #fd5c01;
	border: solid #fd4a00 10px;
}
.second
{
	height: 300px;
	text-align: center;
	background-color: #fd5c01;
	border: solid #fd4a00 10px;
}
.third
{
	height: 300px;
	text-align: center;
	background-color: #fd5c01;
	border: solid #fd4a00 10px;
}
.fourth
{
	height: 300px;
	text-align: center;
	background-color: #fd5c01;
	border: solid #fd4a00 10px;
}
footer
{
	background-color: #060606;
	height: 40px;
	width: 100%;

	
}
.nossos-produtos
{
	float: left;
	margin-left: 15%;
}
.institucional
{

}
.contato
{
	
}
img#logo
{
	position:absolute;
	top:0000px;
	left:50px;
}
nav#menu
{
 position:right;
   
   top:0%;
   height: 60px;
   width: 30%px;
}

.botao 
{
	background-color: yellow;
	color: white;
	padding: 8px;
	box-shadow: 2px 2px 1px #aaaaaa;
}